@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  .search {
    width: 30rem;
    outline:none;
  }
}

@include media-breakpoint-down(sm) {
  .header {
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .search {
      width: 15rem;
      outline:none;
    }
  }
}

.cardList__title {
  margin: 20px 30px;
}

.wrap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .child {
    flex: 0 0 17%;
    align-items: center;
    margin: 1rem 1rem;
  }

  .card {
    width: 17rem;
  }
}
@include media-breakpoint-down(lg) {
  .wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .child {
      flex: 0 0 21%;
      align-items: center;
      margin: 1rem 1rem;
    }

    .card {
      width: 20rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .wrap {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .child {
      flex: 0 0 28%;
      align-items: center;
      margin: 1rem 0.7rem;
    }

    .card {
      width: 35rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .wrap {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .child {
      flex: 0 0 43%;
      align-items: center;
      margin: 1rem 1rem;
    }

    .card {
      width: 35rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .wrap {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .child {
      flex: 0 0 80%;
      align-items: center;
      margin: 1rem 1rem;
    }

    .card {
      width: 50rem;
    }
  }
}



.wrap-spinner {
  margin-top: 70px;
  display: flex;
  justify-content: center;

  .lds-spinner {
    color: #17a2b8;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #17a2b8;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.paginator {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .paginator-item, .paginator-item-active {
    width: 2rem;
    height: 1.8rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
  }

  .paginator-item-active {
    background-color: #17a2b8;
    color: #fff;
  }
}


